#!/bin/sh
#
# $OpenBSD$
# rc.d script for the Akita Reticulum Web Status Dashboard

daemon="/usr/local/libexec/akita-rns/akita_web_status.py"

. /etc/rc.d/rc.subr

# The python script needs to be run by the python interpreter
pexp="/usr/local/bin/python${MODPY_VERSION} ${daemon}"

rc_bg=YES
rc_reload=NO

# Use service-specific variable names from rc.conf(8) if defined
_akita_rnsd_web_user=${akita_rnsd_web_user:-"_reticulum"}
daemon_user="${_akita_rnsd_web_user}"

rc_cmd $1
